<div class='container-fluid dashboard'>
	<div class='block-header m-t-15'>
        <h2>
          3.Key Switch Input
          <small>
            Device power on configuration
          </small>
        </h2>

    </div>
	<div class='row'>
        <div class="col-md-7 col-sm-12 col-xs-12">
            <div class="card p-b-15">
                <div class="card-header">
                    <h2 >Key Switch Input</h2>
                </div>
                <div class="card-body card-padding">
                    <label class="radio radio-inline m-r-20 m-b-10">
                        <input type="radio" name="ofcIp" value="option1">
                        <i class="input-helper"></i>
                        Use Key Switch for power up
                    </label>
                    <label class="radio radio-inline m-r-20 m-l-0">
                        <input type="radio" name="ofcIp" value="option1">
                        <i class="input-helper"></i>
                        Always On
                    </label>
                </div>
                <div class='p-r-15 clearfix'>
                    <a href="#" class="btn btn-primary btn-lg pull-right" role="button">SAVE</a>
                </div>
            </div>
        </div>    
    </div>
</div>