@charset "UTF-8";
/* Trimble CSS Document */


body{
	background-color:#F3F3F7;
	color: #363545;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 1.42857143;

}

h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { 	color: #363545;}

/* 
 * Material Background Colors
 */

.trimble-dark-blue{
  background-color: #002D5B !important;
}

.trimble-blue{
  background-color: #00437B !important;
}

.trimble-blue-mid{
  background-color: #005F9E !important;
}

.trimble-blue-light{
  background-color: #009AD9 !important;
}

.trimble-yellow{
  background-color: #FFBE00 !important;
}

.trimble-gray{
  background-color: #363545 !important;
}

.trimble-green{
  background-color: #4D6F33 !important;
}

.trimble-red{
  background-color: #A51D25 !important;
}

.col-gray-light{
  background-color: #F3F3F7 !important;
}

.col-dark-blue {
  background-color: #07599B !important;
}

.bgm-blue {
  background-color: #0D6AA8 !important;
}

.bgm-lightblue {
  background-color: #197CB6 !important;
}
.col-pale-blue {
  background-color: #CFE1EE !important;
}

.col-dark-green {
  background-color: #4A821F !important;
}

.bgm-green {
  background-color: #5E9331 !important;
}
.bgm-lightgreen {
  background-color: #72A544 !important;
}
.bgm-pale-green {
  background-color: #DFE9D6 !important;
}

.col-dark-yellow {
  background-color: #FFA500 !important;
}
.bgm-yellow {
  background-color: #FFBE00 !important;
}

.col-light-yellow {
  background-color: #FFD200 !important;
}

.col-pale-yellow {
  background-color: #FFF2CC !important;
}

.bgm-deeporange {
  background-color: #ff6e00 !important;
}

.bgm-orange {
  background-color: #ff8b00 !important;
}

.col-light-orange {
  background-color: #ffa500 !important;
}

.col-pale-orange {
  background-color: #FFE8CC !important;
}

.col-dark-red {
  background-color: #BC0911 !important;
}
.bgm-red {
  background-color: #C81922 !important;
}
.col-light-red {
  background-color: #D52A33 !important;
}
.col-pale-red {
  background-color: #F4D1D3 !important;
}too


.bgm-blue_light {
  background-color: #009AD9 !important;
}
.c-blue_light {
  color: #009AD9 !important;
}


/*   TOOLTIPS   */

.tooltip-inner {
  background-color: #363545;
}
.tooltip.top .tooltip-arrow {
  border-top-color: #363545;
}
.tooltip.top-left .tooltip-arrow {
  border-top-color: #363545;
}
.tooltip.top-right .tooltip-arrow {
  border-top-color: #363545;
}
.tooltip.right .tooltip-arrow {
  border-right-color: #363545;
}
.tooltip.left .tooltip-arrow {
  border-left-color: #363545;
}
.tooltip.bottom .tooltip-arrow {
  border-bottom-color: #363545;
}
.tooltip.bottom-left .tooltip-arrow {
  border-bottom-color: #363545;
}
.tooltip.bottom-right .tooltip-arrow {
  border-bottom-color: #363545;
}


.tooltip-red .tooltip-inner {
  background-color: #A51D25;
}
.tooltip-red.top .tooltip-arrow {
  border-top-color: #A51D25;
}
.tooltip-red.top-left .tooltip-arrow {
  border-top-color: #A51D25;
}
.tooltip-red.top-right .tooltip-arrow {
  border-top-color: #A51D25;
}
.tooltip-red.right .tooltip-arrow {
  border-right-color: #A51D25;
}
.tooltip-red.left .tooltip-arrow {
  border-left-color: #A51D25;
}
.tooltip-red.bottom .tooltip-arrow {
  border-bottom-color: #A51D25;
}
.tooltip-red.bottom-left .tooltip-arrow {
  border-bottom-color: #A51D25;
}
.tooltip-red.bottom-right .tooltip-arrow {
  border-bottom-color: #A51D25;
}

.tooltip-green .tooltip-inner {
  background-color: #5E9331;
}
.tooltip-green.top .tooltip-arrow {
  border-top-color: #5E9331;
}
.tooltip-green.top-left .tooltip-arrow {
  border-top-color: #5E9331;
}
.tooltip-green.top-right .tooltip-arrow {
  border-top-color: #5E9331;
}
.tooltip-green.right .tooltip-arrow {
  border-right-color: #5E9331;
}
.tooltip-green.left .tooltip-arrow {
  border-left-color: #5E9331;
}
.tooltip-green.bottom .tooltip-arrow {
  border-bottom-color: #5E9331;
}
.tooltip-green.bottom-left .tooltip-arrow {
  border-bottom-color: #5E9331;
}
.tooltip-green.bottom-right .tooltip-arrow {
  border-bottom-color: #5E9331;
}

.tooltip-yellow .tooltip-inner {
  background-color: #ff8b00;
    color:#fff;
}
.tooltip-orange.top .tooltip-arrow {
  border-top-color: #ff8b00;
}
.tooltip-orange.top-left .tooltip-arrow {
  border-top-color: #ff8b00;
}
.tooltip-orange.top-right .tooltip-arrow {
  border-top-color: #ff8b00;
}
.tooltip-orange.right .tooltip-arrow {
  border-right-color: #ff8b00;
}
.tooltip-yellow.left .tooltip-arrow {
  border-left-color: #ff8b00;
}
.tooltip-orange.bottom .tooltip-arrow {
  border-bottom-color: #ff8b00;
}
.tooltip-orange.bottom-left .tooltip-arrow {
  border-bottom-color: #ff8b00;
}
.tooltip-orange.bottom-right .tooltip-arrow {
  border-bottom-color: #ff8b00;
}

.tooltip-white .tooltip-inner {
  background-color: #fff;
   color:#363545;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12)
}
.tooltip-white.top .tooltip-arrow {
  border-top-color: #fff;
}
.tooltip-white.top-left .tooltip-arrow {
  border-top-color: #fff;
}
.tooltip-white.top-right .tooltip-arrow {
  border-top-color: #fff;
}
.tooltip-white.right .tooltip-arrow {
  border-right-color: #fff;
}
.tooltip-white.left .tooltip-arrow {
  border-left-color: #fff;
}
.tooltip-white.bottom .tooltip-arrow {
  border-bottom-color: #fff;
}
.tooltip-white.bottom-left .tooltip-arrow {
  border-bottom-color: #fff;
}
.tooltip-white.bottom-right .tooltip-arrow {
  border-bottom-color: #fff;
}



.bgm-pink {
  background-color: #ff00ff !important;
}


/*   CALENDAR   */

.date-picker .dp-inline {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
  display: inline-block;
}
.date-picker:not(.dp-blue):not(.dp-lightgray) .tr-dpnav th {
  background: #197CB6;
}
.date-picker:not(.dp-blue):not(.dp-lightgray) .tr-dpday th {
  background: #0D6AA8;
}
.date-picker:not(.dp-blue):not(.dp-lightgray) .dp-active {
  background-color: #0D6AA8;
}
.date-picker:not(.dp-blue):not(.dp-lightgray) .dp-actions .btn-link {
  color: #0D6AA8;
}


.dp-blue .tr-dpnav th {
  background: #474655;
}
.dp-blue .tr-dpday th {
  background: #363545;
}
.dp-blue .dp-active {
  background-color: #363545;
}
.dp-blue .dp-actions .btn-link {
  color: #363545;
}

.dp-lightgray .tr-dpnav th {
  background: #F3F3F7!important;
}
.dp-lightgray .tr-dpday th {
  background: #e2e2e7!important;
}
.dp-lightgray .dp-active {
  background-color: #e2e2e7!important;
}
.dp-lightgray .dp-actions .btn-link {
  color: #e2e2e7!important;
}

.dp-lightgray .tr-dpnav .btn-dp {
color: #363545;
}
.dp-lightgray .tr-dpday th {
  color: #363545;
}
.dp-lightgray .dp-active{
      color: #363545;

}

/*         */



.logo a {
  color: #363545;
  text-transform: uppercase;
  display: block;
  font-size: 16px;
}



/*
 * Common header classes & IDs
 * Do not remove this
 */




#menu-trigger:before{
height:30px;
    width:30px;
        top: 10px;
    left: 7px;
}

.line-wrap {
    margin: 12px 15px;

}

#menu-trigger .line-wrap .line {
  background-color: #363545;
}

.top-menu > li > a {
  color: #363545;
  display: block;
  text-align: center;
  z-index: 1;
  position: relative;
}


/* Main Content */
#main {
padding-top: 75px;
}


/*
 * For Header type 2 only
 * You may remove these if you opt header 1
 */


.language{
	padding-left:36px;
}


#header {
z-index:16;
height:48px;
min-height: 48px;
}

.header-inner {
   padding:6px 0;
}


#header .app-title {
    text-align: center;
    position: absolute;
    font-size: 18px;
    font-weight: 500;
    line-height: 31px;
    width: 100%;
    padding: 10px;
    text-transform: uppercase; }

.header-inner img {
    height:36px;
    vertical-align:top;
    padding:4px 0;
}

#header-2 .search input[type="text"] {
  width: 100%;
  background: transparent;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  color: #363545;
  font-size: 15px;
  font-weight: 300;
  padding: 6px 0 6px 30px;
}

#header-2 .search input[type="text"]::-webkit-input-placeholder {
  color: #363545;
}

#header-2 .search .fg-line:before {
  content: '\f1c3';
  font-family: 'Material-Design-Iconic-Font';
  position: absolute;
  left: 0;
  bottom: 1px;
  color: #363545	;
  font-size: 22px;
}

.header-inner li {
    line-height: 1.0;
}

#header .logo a {
    padding:10px;
}




/*   ALERTS   */
.alert-success {
  background-color: rgba(94, 147, 49, 0.7);
  border-color: transparent;
  color: #ffffff;
}



/*    BUTTONS   */


.btn-default {
  color: #363545;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default:focus,
.btn-default.focus {
  color: #363545;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}

.btn-default:hover {
  color: #363545;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #363545;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #363545;
  background-color: #d4d4d4;
  border-color: #8c8c8c;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default .badge {
  color: #ffffff;
  background-color: #363545;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.open > .dropdown-toggle.btn-default {
  color: #363545;
  background-color: #ffffff;
  border-color: transparent;
}

.btn-default:hover:hover,
.btn-default:focus:hover,
.btn-default.focus:hover,
.btn-default:active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:hover:focus,
.btn-default:focus:focus,
.btn-default.focus:focus,
.btn-default:active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:hover.focus,
.btn-default:focus.focus,
.btn-default.focus.focus,
.btn-default:active.focus,
.open > .dropdown-toggle.btn-default.focus {
  color: #363545;
  background-color: #ffffff;
  border-color: transparent;
}

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active {
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-default .badge {
  color: #ffffff;
  background-color: #363545;
}


.btn-primary {
  color: #ffffff;
  background-color: #0D6AA8;
  border-color: #0d8aee;
}

.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff;
  background-color: #0c7cd5;
  border-color: #064475;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #0c7cd5;
  border-color: #0a68b4;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0c7cd5;
  border-color: #0a68b4;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #0a68b4;
  border-color: #064475;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #0D6AA8;
  border-color: #0d8aee;
}

.btn-primary .badge {
  color: #0D6AA8;
  background-color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #0D6AA8;
  border-color: transparent;
}

.btn-primary:hover:hover,
.btn-primary:focus:hover,
.btn-primary.focus:hover,
.btn-primary:active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:hover:focus,
.btn-primary:focus:focus,
.btn-primary.focus:focus,
.btn-primary:active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:hover.focus,
.btn-primary:focus.focus,
.btn-primary.focus.focus,
.btn-primary:active.focus,
.open > .dropdown-toggle.btn-primary.focus {
  color: #ffffff;
  background-color: #0D6AA8;
  border-color: transparent;
}

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active {
  background-color: #0D6AA8;
  border-color: #0d8aee;
}

.btn-primary .badge {
  color: #0D6AA8;
  background-color: #ffffff;
}


.btn-info {
  color: #0D6AA8;
  background-color: #fff;
    border: 1px solid #0D6AA8;
}

.btn-info:focus,
.btn-info.focus {
  color: #ffffff;
  background-color: #008fa1;

}

.btn-info:hover {
  color: #ffffff;
  background-color: #0D6AA8;
  border-color: #0D6AA8;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #0D6AA8;
  border-color: #0D6AA8;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #fff;
  border-color: #0D6AA8;
}

.btn-info .badge {
  color: #009AD9;
  background-color: #ffffff;
}

.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #009AD9;
  border-color: transparent;
}

.btn-info:hover:hover,
.btn-info:focus:hover,
.btn-info.focus:hover,
.btn-info:active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:hover:focus,
.btn-info:focus:focus,
.btn-info.focus:focus,
.btn-info:active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:hover.focus,
.btn-info:focus.focus,
.btn-info.focus.focus,
.btn-info:active.focus,
.open > .dropdown-toggle.btn-info.focus {
  color: #0D6AA8;
  background-color: #fff;
  border-color: #0D6AA8;
}

.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}

.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active {
    color:#0D6AA8;
    background-color: #fff;
  border-color: #0D6AA8;
}

.btn-info .badge {
  color: #0D6AA8;
  background-color: #ffffff;
}

.btn-float {
    background:#AEAEB6;

}

.btn-warning {
  color: #ffffff;
  background-color: #ff8b00;
  border-color: #ff8b00;
}

.btn-warning:focus,
.btn-warning.focus {
  color: #ffffff;
  background-color: #cc7a00;
  border-color: #663d00;
}

.btn-warning:hover {
  color: #ffffff;
  background-color: #cc7a00;
  border-color: #a86400;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #cc7a00;
  border-color: #a86400;
}

.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #a86400;
  border-color: #663d00;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #ff8b00;
  border-color: #e68900;
}

.btn-warning .badge {
  color: #FFBE00;
  background-color: #ffffff;
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ff8b00;
  border-color: transparent;
}

.btn-warning:hover:hover,
.btn-warning:focus:hover,
.btn-warning.focus:hover,
.btn-warning:active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:hover:focus,
.btn-warning:focus:focus,
.btn-warning.focus:focus,
.btn-warning:active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:hover.focus,
.btn-warning:focus.focus,
.btn-warning.focus.focus,
.btn-warning:active.focus,
.open > .dropdown-toggle.btn-warning.focus {
  color: #ffffff;
  background-color: #ff8b00;
  border-color: transparent;
}

.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}

.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active {
  background-color: #ff8b00;
  border-color: #e68900;
}

.btn-warning .badge {
  color: #FFBE00;
  background-color: #ffffff;
}



.btn-danger {
  color: #ffffff;
  background-color: #A51D25;
}

.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff;
  background-color:#A51D25;
}

.btn-danger:hover {
  color: #ffffff;
  background-color:#A51D25;
}

.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #A51D25;
}

.btn-danger:hover:hover, .btn-danger:focus:hover, .btn-danger.focus:hover, .btn-danger:active:hover, .open > .dropdown-toggle.btn-danger:hover, .btn-danger:hover:focus, .btn-danger:focus:focus, .btn-danger.focus:focus, .btn-danger:active:focus, .open > .dropdown-toggle.btn-danger:focus, .btn-danger:hover.focus, .btn-danger:focus.focus, .btn-danger.focus.focus, .btn-danger:active.focus, .open > .dropdown-toggle.btn-danger.focus {
background-color: #A51D25;

}

.btn-success {
  color: #ffffff;
  background-color: #5E9331;
  border-color: #449d48;
}

.btn-success:focus,
.btn-success.focus {
  color: #ffffff;
  background-color: #3d8b40;
  border-color: #1e441f;
}

.btn-success:hover {
  color: #ffffff;
  background-color: #3d8b40;
  border-color: #327334;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #3d8b40;
  border-color: #327334;
}

.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #327334;
  border-color: #1e441f;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5E9331;
  border-color: #449d48;
}

.btn-success .badge {
  color: #5E9331;
  background-color: #ffffff;
}

.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #5E9331;
  border-color: transparent;
}

.btn-success:hover:hover,
.btn-success:focus:hover,
.btn-success.focus:hover,
.btn-success:active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:hover:focus,
.btn-success:focus:focus,
.btn-success.focus:focus,
.btn-success:active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:hover.focus,
.btn-success:focus.focus,
.btn-success.focus.focus,
.btn-success:active.focus,
.open > .dropdown-toggle.btn-success.focus {
  color: #ffffff;
  background-color: #5E9331;
  border-color: transparent;
}

.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}

.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active {
  background-color: #5E9331;
  border-color: #449d48;
}

.btn-success .badge {
  color: #5E9331;
  background-color: #ffffff;
}


.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #009AD9;
  border-color: #ffffff;
  cursor: default;
}




/*   ALERTS   */

.alert-success {
  background-color: rgba(94, 147, 49, 0.7);
  border-color: transparent;
  color: #ffffff;
}

.alert-info {
  background-color: rgba(13, 106, 168, 0.7);
  border-color: transparent;
  color: #ffffff;
}

.alert-warning {
  background-color: rgba(255, 139, 0, 0.7);
  border-color: transparent;
  color: #ffffff;
}

.alert-danger {
  background-color: rgba(200, 25, 34, 0.7);
  border-color: transparent;
  color: #ffffff;
}


.progress-bar-warning {
  background-color: #FFBE00;
}


.btn-icon-text > .zmdi.dropdown-toggle {
    padding-left:8px;
    margin-right:0;
}



/* ----- FORM ELEMENTS ----- */

.form-control:not(.fc-alt) {
  border: 1px solid #F3F3F7;

  -webkit-appearance: none;
  -moz-appearance: none;
  padding-left: 10px;
}

.fg-line:not([class*=has-]):after {
  background: #8C8B96;
}


.top-menu > li > a > .tmn-counts {
  color: #fff;
  border-radius: 10px;
  line-height: 14px;
}


.fg-float .fg-label {
  left: 10px;

}


.toggle-switch .ts-helper {
   background: rgba(54, 53, 69, 0.36);

}

.toggle-switch:not([data-ts-color]) input:not(:disabled):checked + .ts-helper {
  background: rgba(0, 95, 158, 0.5);
}

html:not(.ie9) .select:before {
font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
content: '\f2f2';
background-image: none;
background:transparent;
font-size: 24px;
margin-top: 5px;

}

.chosen-container-single .chosen-single div b {
background: none;
}

.chosen-container-single .chosen-single div {
 display:inline-block;
font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
    font-size: 24px;
    margin-top:5px;
}

.chosen-container-single .chosen-single div:before {
 content: '\f2f2';
}

.chosen-container-single .chosen-single {
 border: 1px solid #e0e0e0;
  padding: 6px;

}

.chosen-container-multi .chosen-choices {
    border: 1px solid #e0e0e0;
      padding-left: 6px;
}

.toggle-switch:not([data-ts-color]) input:not(:disabled):checked + .ts-helper:before {
  background: #005F9E;
}

.toggle-switch:not([data-ts-color]) input:not(:disabled):checked + .ts-helper:active:before {
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.28), 0 0 0 20px rgba(0, 95, 158, 0.3);

}


.input-slider:not([data-is-color]) .noUi-handle, .input-slider-range:not([data-is-color]) .noUi-handle, .input-slider-values:not([data-is-color]) .noUi-handle, .input-slider:not([data-is-color]) .noUi-connect, .input-slider-range:not([data-is-color]) .noUi-connect, .input-slider-values:not([data-is-color]) .noUi-connect {
    background: #005F9E!important;
}

.input-slider:not([data-is-color]) .noUi-base {
 background: #005F9E!important;

}

.checkbox .input-helper:after {
    border-bottom: 2px solid #005F9E;
    border-left: 2px solid #005F9E;
}

.radio .input-helper:after {
  background: #005F9E;
}

/* -----  Validation  ----- */

.has-error .checkbox .input-helper:before {
  border-color: #f99d97;
}

.has-error .checkbox .input-helper:after {
  border-bottom-color: #f77066;
  border-left-color: #f77066;
}

.has-error .fg-line:after {
  background: #f44336;
}

.has-success .checkbox .input-helper:before {
  border-color: #72A544;
}

.has-success .checkbox .input-helper:after {
  border-bottom-color: #5E9331;
  border-left-color: #5E9331;
}

.has-success .fg-line:after {
  background: #5E9331;
}

.has-warning .checkbox .input-helper:before {
  border-color: #ffc166;
}

.has-warning .checkbox .input-helper:after {
  border-bottom-color: #ffad33;
  border-left-color: #ffad33;
}

.has-warning .fg-line:after {
  background: #ff9800;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
  color: #72A544;
}

.has-success .form-control {
  border-color: #72A544;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .form-control:focus {
  border-color: #5E9331;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #aedcb0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #aedcb0;
}

.has-success .input-group-addon {
  color: #72A544;
  border-color: #72A544;
  background-color: #72A544;
}

.has-success .form-control-feedback {
  color: #72A544;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
  color: #FFBE00;
}

.has-warning .form-control {
  border-color: #FFBE00;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-warning .form-control:focus {
  border-color: #FFA500;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffd28f;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ffd28f;
}

.has-warning .input-group-addon {
  color: #FFBE00;
  border-color: #FFBE00;
  background-color: #FFBE00;
}

.has-warning .form-control-feedback {
  color: #FFBE00;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
  color: #C81922;
}

.has-error .form-control {
  border-color: #C81922;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .form-control:focus {
  border-color: #BC0911;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fbc2bd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #fbc2bd;
}

.has-error .input-group-addon {
  color: #C81922;
  border-color: #C81922;
  background-color: #C81922;
}

.has-error .form-control-feedback {
  color: #C81922;
}


/** Widgets  **/

.blog-post .bp-header .bp-title {
  background: #00437B;
}

.profile-view .pv-body .pv-follow-btn {
 background-color: #0D6AA8 !important;
}
    
#todo-lists { 
 font-family: 'Open Sans', sans-serif;
    background: #595868;
}


/*  Sidebar Navigation */

 
#sidebar {
    top:48px;
height: 100%;
}

.main-menu > li > a {
        color: #595868;
}

.main-menu > li > a:hover {
      color: #363545;
    background: #F3F3F7;

}
.main-menu > li.active > a {
    color: #363545;
    background: #F3F3F7;
}

.sub-menu ul > li > a {
    color:#7B7A86

}

.sub-menu ul > li > a.active,
.sub-menu ul > li > a:hover {
     color: #363545;

}

.sub-menu ul > li ul {

     background: #F3F3F7;
}


/* Typeography */

.block-header > h2 {

    color:#7B7A86;
}

.card-header h2 small {
 color:   #AEAEB6;
}

.card-header.ch-alt:not([class*="bgm-"]) {
  background-color:#f9f9fb;

}

ul, ol {
    line-height: 1.7;
}

/*media */

.mejs-container .mejs-controls {
background: #009AD9;
}

.mejs-container .mejs-controls .mejs-button button {

background-color: #009AD9;
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-total {

  background: #009AD9;
}

.mejs-container .mejs-controls div.mejs-time-rail .mejs-time-loaded {
background: #005f9e;

}

.thumbnail .caption {
     color: #363545;
}

/* Tables */

.table-striped > tbody > tr:nth-of-type(odd) {

    background-color:#EAEAEF	;
}

.ng-table-pager {
    background:#fff;
}

.table-hover > tbody > tr:hover {
    background-color:#EAEAEF;

}

/*list groups */

.list-group-item.active > .badge, .nav-pills > .active > a > .badge {

    background-color: #009AD9;
}

.badge {

  background-color: #009AD9;
}



/* Accordian Collapse */

.panel-collapse .panel-heading:before {
    content: "\f278";
}


/* Tabs */

.tab-nav:not(.tn-vertical):not([data-tab-color]) > li > a:after {
    background: #009AE9;
}

